.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 42px;
  padding-left: 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.6;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 60px;
    height: 60px;

    background: $color-accent;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
      background-size: 60px auto;
    }
  }

  &--powder::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
      background-size: 60px auto;
    }
  }

  &--dining::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
      background-size: 60px auto;
    }
  }

  &--clock::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
      background-size: 60px auto;
    }
  }
}

.advantages__icon {
  position: absolute;
}

.advantages__description {
  margin: 0;

  font-family: $secondary-font;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
    margin-right: 30px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }

  .advantages__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
