.button {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: $color-accent;
  border: none;
  outline: none;
}

.button--gray {
  color: $color-font;

  background: $color-gray;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 1;
  }
}
