.button {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: $color-accent;
  border: none;
  outline: none;

  transition: all ease 0.1s;

  &:hover {
    background: $color-accent-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--gray {
  color: $color-font;

  background: $color-gray;

  &:hover {
    background: $color-gray-hover;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 1;
  }
}
