.button {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: $color-accent;
  border: none;
  outline: none;
}
