.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 28px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog__item {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-bottom: 1px solid #ededed;

  &--additional {
    display: flex;
    flex-direction: column;
    align-items: center;

    .catalog__title {
      max-width: initial;

      text-align: center;
    }

    .catalog__description {
      width: auto;
      margin-top: 0;
      margin-bottom: 20px;

      font-size: 12px;
      font-family: $secondary-font;
      text-align: center;
    }

    .catalog__button {
      width: 100%;
    }
  }
}

.catalog__inner {
  display: flex;
}

.catalog__description {
  width: 140px;
}

.catalog__title {
  max-width: 100px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
}

.catalog__table {
  display: flex;
  flex-direction: column;
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-family: $secondary-font;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .catalog__item {
    position: relative;

    width: 324px;
    margin-right: 60px;
    margin-bottom: 140px;
    padding-top: 162px;
    padding-bottom: 40px;

    background: $color-gray;

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .catalog__item--additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    background: #ffffff;
    border: 1px solid #dedede;

    .catalog__picture {
      width: 60px;
      height: 60px;

      fill: #dedede;
    }

    .catalog__title {
      max-width: 140px;

      text-align: center;
    }

    .catalog__description {
      max-width: 180px;

      font-size: 16px;
      line-height: 1.25;
    }

    .catalog__button {
      margin-top: auto;
    }
  }

  .catalog__picture {
    position: absolute;
    bottom: 300px;
    left: 50%;

    transform: translateX(-50%);
  }

  .catalog__inner {
    display: flex;
    flex-direction: column;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .catalog__title {
    max-width: 135px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .catalog__table {
    width: 100%;
    margin-bottom: 33px;
  }

  .catalog__table tbody {
    width: 100%;
  }

  .catalog__table-row {
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 1;

    border-bottom: 1px solid #dedede;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    padding-right: 38px;
    padding-left: 38px;

    &:nth-last-of-type(-n+4) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
