.categories__item {
  background: $color-gray;
}

.categories__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  color: #000000;
  text-transform: uppercase;
}

.categories__description {
  font-family: $secondary-font;
}

.categories__link {
  font-size: 16px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
