.example {
  background: $color-gray;
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.6;
  color: #000000;
}

.example__text {
  font-family: $secondary-font;
}

.example__result-name {
  font-size: 12px;
  line-height: 1;
  font-family: $secondary-font;
}

.example__result-amount {
  font-size: 24px;
  line-height: 1;
  color: #000000;
}

.example__result-cost {
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }

  .example__inner {
    width: 570px;
    margin-right: 40px;
  }
}
