.field-text__label {
  font-size: 16px;
  line-height: 1.12;
  color: #222222;
  text-transform: uppercase;
}

.field-text__input {
  padding: 13px;

  font-size: 16px;
  line-height: 1.12;

  border: 1px solid #fafafa;
}
