.main-nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav__toggle {
  display: block;
  width: 24px;
  height: 18px;

  font-size: 0; //временно

  border: none;
  cursor: pointer;
}

.main-nav--closed {
  .main-nav__toggle {
    background: url("../img/icon-mobile-menu.svg") no-repeat center;
  }
}

.main-nav--opened {
  .main-nav__toggle {
    background: url("../img/icon-close.svg") no-repeat center;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo {
    justify-content: flex-start;
    width: 192px;
    margin-bottom: 0;
    padding: 0;
  }

  .main-nav__logo-image {
    margin-right: 18px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 465px;
  }

  .main-nav__item {
    border-top: none;
  }

  .main-nav__link {
    padding: 0;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.4;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    padding-top: 40px;
  }
}
