.map {
  height: 362px;
  margin: 0 auto;

  background: #fdf7ef url("../img/bg-map-mobile@1x.png");
}

@media (min-width: $tablet-width) {
  .map {
    height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }
}

@media(min-width: $desktop-width) {
  .map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }
}
