.page-header {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
