.promo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    height: 305px;

    background: #64a83b url("../img/index-background-mobile@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-mobile@2x.jpg");
      background-size: 305px auto;
    }
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
}

.promo__title {
  width: 250px;
  margin: 0 auto 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 17px;

  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__button {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: $tablet-width;
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: $desktop-width;
  }
}
