.promo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    height: 305px;

    background: #64a83b url("../img/index-background-mobile@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
}

.promo__title {
  width: 250px;
  margin: 0 auto 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 17px;

  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__button {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .promo::before {
    display: none;
  }

  .promo__wrapper {
    position: relative;

    width: $tablet-width;
    padding-right: 120px;
    padding-bottom: 530px;
    padding-left: 120px;
  }

  .promo__title {
    width: 427px;
    margin-left: 0;

    font-size: 60px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan {
    margin-bottom: 45px;

    font-size: 20px;
    text-align: left;
    color: #000000;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .promo__button {
    position: relative;
    z-index: 10;

    width: 245px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: static;
  }

  .promo__wrapper {
    width: $desktop-width;
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 230px;
  }

  .promo__image {
    bottom: 70px;
    left: 492px;

    transform: none;
  }
}
